extends layout

block content
  h1= title
  p Welcome to #{title}
  .admin_login
    a(href="/admin") Admin 
  br
  hr
  .quizz
    a(href="/quiz") 
      img(src="images/quiz.avif", alt="image cannot be found" , width="30%") 