doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
  footer 
    .foot
      p Created By: Balla Ganesh 
      p Email: ballaganesh1818@gmail.com
      p Contact: 9676047731